:root {
    --tr-space-md: 10px;
    --tr-space-lg: 11px;
    --tr-space-xl: 14px;
    --tr-space-xxl: 20px;
    --tr-space-xxx: 56px;
    --tr-space-sm: 8px;
    --tr-branding-size-suggest-4px10p: 4px 10px;
    --tr-branding-size-suggest-006px: 0 0 6px;
    --tr-branding-size-suggest-10px12: 10px 12px;
    --tr-space-xxs: 4px;
    --tr-space-xs: 6px;
    --tr-branding-size-suggest-004px: 0 0 4px;
    --tr-branding-color-suggest-01px2p: 0 1px 2px rgba(0, 0, 0, 0.05);
    --tr-branding-size-suggest-2px00: 2px 0 0;
}
