name: PHP Unit Tests

on:
    push:
        branches: ['main', 'master']
    pull_request:

jobs:
    tests:
        if: false
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
              with:
                  fetch-depth: 0

            - name: Setup PHP
              uses: shivammathur/setup-php@v2
              with:
                  php-version: '8.3'
                  coverage: none
                  extensions: sqlite3

            - name: Get Composer Cache
              uses: actions/cache@v4
              with:
                  path: ~/.composer/cache
                  key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
                  restore-keys: ${{ runner.os }}-composer-

            - name: Install dependencies
              run: composer install --no-progress --no-suggest --prefer-dist

            - name: Run PHPUnit
              run: vendor/bin/phpunit -c phpunit.xml.dist --testsuite App
